body {
    background-color: plum;
}
h1 {
    text-align: center;
    color: rgb(12, 2, 103);
    font-size: 100px
}
h2 {
    text-align: center;
    color: rgb(12, 2, 103);
    font-size: 50px
}
img {
    width: 500px;
    margin: auto;
}
.intro  {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.recipe {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.back-to-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #ff0000;
    text-decoration: none;
    border-radius: 5px;
    cursor: default;
}
.back-to-home:hover {
    background-color: #ffffff;
}