h1 {
    background-size: cover;
    text-align: center;
    padding: 70px;
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: rgb(55, 16, 173);
    font-size: 100px
}


h2 {
    font-family: 'Rubik Doodle Shadow', system-ui;
    text-align: center;
    color: rgb(63, 24, 189);
    font-size: 80px
}

div {
    font-family: 'Rubik Doodle Shadow', system-ui;
    text-align: center;
    color: rgb(63, 24, 189);
    font-size: 40px
}

img {
    width: 500px;
    width: 500px;
    margin: auto;
    align-items: center;
}
ul{list-style-position: inside;}

.back-to-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #ff0000;
    text-decoration: none;
    border-radius: 5px;
    cursor: default;
}
.back-to-home:hover {
    background-color: #8e9af7;
}